<module>
	<rawname>languages</rawname>
	<name>Languages</name>
	<version>2.8.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>
		Adds the ability to changes the language within a call flow and add language attribute to users.
	</description>
	<menuitems>
		<languages>Languages</languages>
	</menuitems>
	<changelog>
	  *2.8.0.2* localization updates
	  *2.8.0.1* #4353
	  *2.8.0.0* localizations, dbug statment removed
	  *2.7.0.2* localizations
	  *2.7.0.1* re #4004
		*2.7.0.0* #4004 add language option to inbound routes
		*2.6.0.0* localizations, misc
		*2.5.0.6* localization, Swedish
		*2.5.0.5* #3174 fix validation code
		*2.5.0.4* #3110, #3138
		*2.5.0.3* #2530 typo _GLOBALS should be GLOBALS
		*2.5.0.2* fix depends to 2.5.0alpha1
		*2.5.0.1* r6123 inject macro-user-callerid with required language setting (was hardcoded)
		*2.5.0* #2845 tabindex
		*2.4.0.3* #2843 Russian Translation, removal of un-needed code
		*2.4.0.2* added depends on 2.4.0
		*2.4.0.1* #2578 use setlanguage to handle changes in Asterisk 1.6
		*2.4.0* First release of module
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<location>release/2.8/languages-2.8.0.1.tgz</location>
	<md5sum>26b0540cdf0a0e73ab45e1a2ac753af4</md5sum>
</module>
