table.trade-ideas,
table.trade-ideas thead.tableFloatingHeaderSticky {
  border: 1px solid #fff !important;
  border-collapse: separate;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
 -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
 -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
  border-radius: 4px;
}
table.trade-ideas,
table.trade-ideas th,
table.trade-ideas td,
.buttonGrad {
  /* font-family: open sans; */
}
table.trade-ideas,
table.trade-ideas th,
table.trade-ideas td {
  background-color: #fffefa;
  border: 0;
  font-size: 11px !important; /* 95%; */
  font-weight: normal;
}
table.trade-ideas th,
table.trade-ideas td {
  text-align: left;
  vertical-align: middle;
  border-left: 0;
  border-right: 0;
  padding: 0.5em 0.75em;
  /* padding-left: 0.75em;
  padding-right: 0.75em; */
}
table.trade-ideas td.sub-header {
  border-left: 2px solid #fff;
  /* font-weight: bold; */
  /* font-style: italic; */
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  /* color: rgba(0,0,0,1); */
}
table.trade-ideas th {
  background-color: #e0e6e7;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: bold;
}
table.trade-ideas th.header {
  background-color: #004577; /* 26C196; #009abf; #004577; */
  /* background: #009abf;
  background: -moz-linear-gradient(top,  #009abf 0%, #0085a3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009abf), color-stop(100%,#0085a3));
  background: -webkit-linear-gradient(top,  #009abf 0%,#0085a3 100%);
  background: -o-linear-gradient(top,  #009abf 0%,#0085a3 100%);
  background: -ms-linear-gradient(top,  #009abf 0%,#0085a3 100%);
  background: linear-gradient(to bottom,  #009abf 0%,#0085a3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009abf', endColorstr='#0085a3',GradientType=0 ); */
  color: #fff;
  text-shadow: none; /* 0px 0px 6px #006680; */
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}
table.trade-ideas th.header .date,
table.trade-ideas th.header .target {
  float: right;
  overflow: hidden;
  margin-left: 3em;
}
span.date i,
span.target i {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: transparent url(/img/sprite-ideas.png) no-repeat 0 0;
  margin-right: 0.5em;
  vertical-align: text-bottom; /* top; */
  margin-top: 0.05em;
}
span.date i {
  background-position: -16px 0;
}
table.trade-ideas th.header .vs {
  font-weight: bold;
  /* font-style: italic; */
  
  background-color: #fff;
  letter-spacing: -0.05em;
  display: inline-block;
  width: 14px;
  height: 14px;

 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
  border-radius: 10px;
  
  padding: 2px;
  margin: 0 0.5em;
  color: #004577; /* 009abf; */
  font-size: 10px;
  line-height: 14px;
  text-shadow: none;
  font-weight: bold;
  text-align: center;
}
table.trade-ideas thead tr:first-child th:first-child {
 -webkit-border-radius: 4px 0 0 0;
 -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
table.trade-ideas.ti-corner,
table.trade-ideas.ti-corner thead.tableFloatingHeaderSticky,
table.trade-ideas.ti-corner thead tr:first-child th:first-child {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
table.trade-ideas thead tr:first-child th:last-child {
 -webkit-border-radius: 0 4px 0 0;
 -moz-border-radius: 0 4px 0 0 ;
  border-radius: 0 4px 0 0;
}
table.trade-ideas tbody tr.odd:last-child td:first-child {
 -webkit-border-radius: 0 0 0 4px;
 -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  /* background-color: red !important; */
}
table.trade-ideas tbody td.comment:last-child {
 -webkit-border-radius: 0 0 4px 0;
 -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table.trade-ideas thead.tableFloatingHeaderSticky,
table.trade-ideas thead.tableFloatingHeaderSticky tr th {
 -webkit-border-radius: 0 0 0 0 !important;
 -moz-border-radius: 0 0 0 0 !important;
  border-radius: 0 0 0 0 !important;
  background-color: rgba(224, 230, 231,0.8) !important;
}
table.trade-ideas thead.tableFloatingHeaderSticky {
  border: 1px solid #fff !important;
}
table.trade-ideas thead.tableFloatingHeaderSticky {
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
 -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
 -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
}
table.trade-ideas td.sell,
table.trade-ideas td.buy,
table.trade-ideas td.hold {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  font-weight: bold;
}
table.trade-ideas td.buy {
  background-color: #ebfae8; /* #3daf2c; */
  color: #318c23;
  /* border-bottom: 1px solid #c4d7c1;
  border-top: 1px solid #f3faf2; */
}
table.trade-ideas td.sell {
  background-color: #fff3f2; /* #e1261c; */
  color: #e1261c;
  /* border-bottom: 1px solid #e1261c; */
  /* border-bottom: 2px solid #e1261c; */
}
table.trade-ideas td.hold {
  color: #44474d;
  /* border-bottom: 1px solid #c4d7c1;
  border-top: 1px solid #f3faf2; */
}
table.trade-ideas tr.buy td a,
table.trade-ideas tr.sell td a {
  font-weight: bold;
}
table.trade-ideas tr.buy.odd td {
  background-color: #dbf0d8; /* #3daf2c; */
}
table.trade-ideas tr.sell.odd td {
  background-color: #fae5e3; /* #e1261c; */
  /* border-bottom: 2px solid #e1261c; */
}
table.trade-ideas tr.buy.even td {
  background-color: #ebfae8; /* #3daf2c; */
}
table.trade-ideas tr.sell.even td {
  background-color: #fff3f2; /* #e1261c; */
  /* border-bottom: 2px solid #e1261c; */
}
table.trade-ideas tr.even td {
  background-color: #f2f7f7; /* #3daf2c; */
}
table.trade-ideas tr.odd td {
  background-color: #e3e8e8; /* #e1261c; */
  /* border-bottom: 2px solid #e1261c; */
}
table.trade-ideas tr.bold td {
  font-weight: bold;
}
table.trade-ideas td.comment {
  text-align: justify;
  /* font-style: italic; */
  vertical-align: top;
  color: #000; /* rgba(68,71,77,0.7); */
  padding: 0 !important;
}
table.trade-ideas td.comment /*,
table.trade-ideas tr.pusher td */ {
  background: #fffaf0 !important;
}
table.trade-ideas td.comment div {
  padding: 0 0.75em; /* 0 18px 1.5em; */
}
table.trade-ideas tr.pusher td {
  padding: 0;
}
.buttonGrad {
  font-size: 100%;
  min-width: 125px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: center left;
  cursor: pointer !important;
  white-space: nowrap;
  width: 100%;
  outline: none;
  display: inline-block;
  margin: 1.3em auto;
  color: black;
  text-shadow: 0px 1px rgba(255,255,255,0.8);
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid silver;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.08);
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.08);
  min-height: 25px;
  height: auto;
  padding: 0.4em 8px;

  background: -moz-linear-gradient(top, #FDFDFD, #F0F0F0); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,#F0F0F0));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #FDFDFD, #F0F0F0);
  background: -o-linear-gradient(top, #FDFDFD, #F0F0F0); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FDFDFD, #F0F0F0); /* IE10 */
  background: linear-gradient(top, #FDFDFD, #F0F0F0); /* CSS3 */
  background: -webkit-gradient(linear, left bottom, left top, from(#F0F0F0), to(#FDFDFD), color-stop(14%,#E2E2E2)) !important;
}
.buttonGradPush,
.buttonGrad:active {
  background-color: #b5c6d4 !important;
  box-shadow: inset 1px 2px 5px 0.5px #79858e;
 -webkit-box-shadow: inset 1px 2px 5px 0.5px #79858e;
 -moz-box-shadow: inset 1px 2px 5px 0.5px #79858e;
  border-color: #909090;
  /* color: white; */
  text-shadow: 0px 1px 3px gray;
}
.buttonGradGold,
.buttonGrad:hover {
  background: -moz-linear-gradient(top, #ebcf3e, #dfb829); /* Firefox 3.6+ */
  /* Chrome 1-9, Safari 4-5 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebcf3e), color-stop(100%,#d5a81a));
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(top, #ebcf3e, #dfb829);
  background: -o-linear-gradient(top, #ebcf3e, #dfb829); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ebcf3e, #dfb829); /* IE10 */
  background: linear-gradient(top, #ebcf3e, #dfb829); /* CSS3 */
  background: -webkit-gradient(linear, left bottom, left top, from(#F0F0F0), to(#FDFDFD), color-stop(14%,#E2E2E2)) !important;

  background: -webkit-gradient(linear, left bottom, left top, from(#dfb829), to(#ebcf3e), color-stop(14%,#d5a81a)) !important;
  border-color: #bba351;
  text-shadow: 0px 1px rgba(248,233,0,0.8);
  padding-left: 1em;
  padding-right: 1em;
}
a.expand {
  white-space: nowrap;
  display: block;
  padding: 6px 0;
  font-weight: normal !important;
  
  /* display: none; */
}
/* .hidden-text {
  display: inline !important;
}
table.trade-ideas td.comment form {
  display: block;
  width: 180px;
  float: right;
  padding-left: 30px;
} */









/* tabs */
.tabs-container {
  width: 100%;
}
.tab-nav {
  list-style: none;
  border-bottom: 1px solid #fff; /* #004577; */
  margin-top: 0;
  margin-bottom: -12px;
  display: block;
}
.tab-nav:before, .tab-nav:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  content: " ";
}
.tab-nav:after {
  clear: both;
}

.tab-nav>li {
  float: left;
  list-style: none;
  margin-bottom: -1px;
  position: relative;
  display: block;
  background: none;
  padding: 10px 10px 0;
  margin-left: -10px;
  overflow: hidden;
  border-bottom: 0;
}
.tab-nav>li.active>a, .tab-nav>li.active>a:hover, .tab-nav>li.active>a:focus {
  color: #44474d;
  cursor: default;
  background-color: #e0e6e7;
  border: 1px solid #fff;
  border-bottom-color: transparent;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
 -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
 -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
  
  
  
}
.tab-nav>li>a {
  margin-right: 2px;
  line-height: 1.428571429;
  
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #44474d;
  /* border: 1px solid #fff; */
  border: 1px solid transparent;
  border-bottom-color: transparent;
  font-weight: bold;
}
.tab-nav>li>a:hover {
  border-bottom-color: transparent;
}
.tab-nav>li>a:hover, .tab-nav>li>a:focus {
  text-decoration: none;
  background-color: rgba(224, 230, 231, 0.25);
  /* color: #2a6496; */
}
.tab-pane {
  display: none;
}
.tabs-container .active {
  display: block;
}
.tab-content .tab-pane:fisrt-child  {}

/* temp */
table.trade-ideas th.header .target2 {
  float: none;
  margin-left: 0;
}
table.trade-ideas2 .buttonGrad {
  width: 225px;
  margin: 6px auto;
}
table.trade-ideas2 td.sub-header {
  border-left: 0;
}
table.trade-ideas2 td.comment div {
  padding-top: 16px;
}
table.form_content th.header {
  height: 11px;
}
