<form id="change-password" class="clearfix" th:action="${path.getRootPath('/change-password')}" method="post">
  <div class="panel bgcolor1 half shadow" style="margin: 1em auto 0;">
    <div class="caption" th:utext="${page.TITLE}"> Сменить пароль к личному кабинету</div>
    
    <div class="content">
      <div class="half" style="margin: auto">

        <h4 th:utext="#{CurrentPasswordCaption}" th:if="${step==1}">Текущий пароль</h4>
        <input type="text" name="currentPassword" th:placeholder="#{CurrentPasswordCaption}" 
               placeholder="Текущий пароль" th:value="${CurrentPassword}" value="123" th:if="${step==1}"/>

        <h4 th:utext="#{NewPasswordCaption}" th:if="${step==1}">Новый пароль</h4>
        <input type="password" name="newPassword" th:placeholder="#{NewPasswordCaption}"
               placeholder="Новый пароль" th:value="${NewPassword}" value="123" th:if="${step==1}"/>
        
        <h4 th:utext="#{NewPasswordConfirmCaption}" th:if="${step==1}">Новый пароль повторно</h4>
        <input type="password" name="newPasswordConfirm" th:placeholder="#{NewPasswordConfirmCaption}"
               placeholder="Новый пароль повторно" th:value="${NewPasswordConfirm}" value="" th:if="${step==1}"/>
        <br th:if="${step==1}"/><br th:if="${step==1}"/>
        
        <h4 th:utext="#{ConfirmationCode}" th:if="${step==2 and hasPhone==true}">Код подтверждения операции</h4>
        <input type="text" name="code" th:value="${code}" th:if="${step==2 and hasPhone==true}"/>
        <h4 th:utext="#{ConfirmationText}" th:if="${step==2 and hasEmail==true}">На ваш e-mail отправлено письмо с ссылкой подтверждения операции</h4>
        <br th:if="${step==2}"/><br th:if="${step==2}"/>
        
        <h4 th:utext="#{ChangePasswordSuccess}" th:if="${step==3}">Пароль успешно изменен</h4>
        <br th:if="${step==3}"/><br th:if="${step==3}"/>
        
        <p th:if="${errorCode=='SamePassword'}" th:utext="#{e00140}">Ваш новый пароль совпадает с предыдущим</p>
        <p th:if="${errorCode=='NotMatchPassword'}" th:utext="#{e00141}">Введенные пароли не совпадают</p>
        <p th:if="${errorCode=='IncorrectedConfirmationCode'}" th:utext="#{e00142}">Введен некорректный код подтверждения</p>

        <input class="button" type="submit" th:value="#{ButtonSaveCaption}" value="Сохранить" th:if="${step==1}"/>
        <input class="button" type="submit" th:value="#{ButtonAcceptCaption}" value="Принять" th:if="${step==2 and hasPhone==true}"/>
        <br/><br/>
        
        <input name="step" th:value="${step}" hidden="false"/>
        
        <!--<p th:text="${changePassword.stepFlow}">step</p>-->
      </div>
    </div>
  </div>
</form>