<div class="pad">
  <table style="border:none">
      <tbody>
          <tr>
              <td width="18" valign="top">
              <h2>1.</h2>
              </td>
              <td colspan="2">
              <h2>Персональная информация</h2>
              </td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td width="282">
              <div id="mc_embed_signup">Имя*:</div>
              </td>
              <td width="281"><input type="text" name="name" id="mce-NAME" class="email required" placeholder="Имя"/></td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>
              <div id="mc_embed_signup">Город*:</div>
              </td>
              <td><input type="text" name="city" id="mce-CITY" placeholder="Город"/></td>
          </tr>
          <tr>
              <td>
              <h2>2.</h2>
              </td>
              <td colspan="2">
              <h2>Контактная информация</h2>
              </td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>
              <div id="mc_embed_signup">Мобильный телефон*:</div>
              </td>
              <td><input type="text" name="phone" id="mce-PHONE" placeholder="Мобильный телефон"/></td>
          </tr>
          <!--        <tr>
              <td>&#160;</td>
              <td>
              <div id="mc_embed_signup">Департамент развития:</div>
              </td>
              <td><input type="text" name="phone1" class="email required" id="mce-PHONE1" placeholder="Телефон департамента" /></td>
          </tr>-->
          <tr>
              <td>&nbsp;</td>
              <td>
              <div id="mc_embed_signup">E-mail*:</div>
              </td>
              <td><input type="text" name="email" class="email required" id="mce-EMAIL" placeholder="E-mail"/></td>
          </tr>
          <tr>
              <td>
              <h2>3.</h2>
              </td>
              <td colspan="2">
              <h2>Продукт</h2>
              </td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td colspan="2">Выберите из списка услугу:</td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td colspan="2">
              <div id="mc_embed_signup"><select onchange="changeSel(this);" id="mce-PROD">
              <option value="брокерское обслуживание">брокерское обслуживание</option>
              <option value="доверительное управление">доверительное управление</option>
              <option value="фонд Золотой">фонд Золотой</option>
              <option value="фонд Петр Великий">фонд Петр Великий</option>
              <option value="фонд Лев Толстой">фонд Лев Толстой</option>
              <option value="фонд Альтернативной энергетики">фонд Альтернативной энергетики</option>
              <option value="фонд Интеллектуальный робот Арбитраж">фонд Интеллектуальный робот Арбитраж</option>
              <option value="фонд Пифагор">фонд Пифагор</option>
              <option value="Лизинг">Лизинг</option>
              </select></div>
              </td>
          </tr>
          <tr>
              <td colspan="3">&nbsp;<input type="checkbox" name="right" id="mce-CHECK" value="a1" checked=""/>&nbsp;&nbsp;<span class="label"> 				<label for="chk07"><a id="show-policy" title="Настоящим, нажав кнопку «Продолжить», я выражаю и подтверждаю свое согласие на обработку, как это определено в ФЗ «О персональных данных» N 152-ФЗ от 27.07.2006 года, моих персональных данных любым способом, в том числе: хранение, запись на электронные носители, сбор, систематизация, уточнение (обновление, изменение), использование, обезличивание, блокирование, уничтожение. Настоящее согласие предоставляется компании ООО «ИК «Ю Эф Эс Финанс» (адрес места нахождения: Российская Федерация, 105082, г. Москва, Балакиревский пер., д.19, стр.1, оф.206) в целях заключения договора по инициативе субъекта персональных данных. Настоящее согласие выдано на неопределенный срок.">Даю согласие на обработку персональных данных</a><sup>*</sup></label> 			</span></td>
          </tr>
          <tr>
              <td colspan="3">
              <h5>Поля, отмеченные *, обязательны для заполнения</h5>
              </td>
          </tr>
          <tr>
              <td colspan="3">
              <div id="div-info" style="display: none;" class="conference-inner">
              <p id="div-info-p">&nbsp;</p>
              </div>
              <div id="text-hide">
              <p>&nbsp;</p>
              </div>
              </td>
          </tr>
          <tr>
              <td colspan="3">
              <div class="clear">
              <div align="center"><input type="button" onclick="document.getElementById('text-hide').innerHTML = ' '; notify2(this);" value="Стать клиентом" name="notify" id="mc-embedded-subscribe" class="button"/></div>
              </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
