<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PREMIER debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PREMIER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UFS 32 bit copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UFS debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UFS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054202571A37309F004FD06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D6D7661B9F2CF5004C56C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D6D8BA1BA011EC004C56C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D6DA0E1BA012BB004C56C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05D6DB621BA013AD004C56C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205A219C178D449E00BEED6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
