<module>
	<rawname>conferences</rawname>
	<name>Conferences</name>
	<version>2.8.0.3</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>Allow creation of conference rooms (meet-me) where multiple people can talk together.</description>
	<changelog>
		*2.8.0.3* #4697
		*2.8.0.2* #4660
		*2.8.0.1* #4309
		*2.8.0.0* #3331 max participants option
		*2.7.0.1* spelling fixes, localization updates
		*2.7.0.0* #4051, #3967 add MoH class choice require MoH module 2.7.0.0+
		*2.6.0.2* #3126
		*2.6.0.1* tabindex init
		*2.6.0.0* #3392, localizations
		*2.5.1.6* #3392 and some localizations
		*2.5.1.5* localization strings enclosed
		*2.5.1.4* #3237
		*2.5.1.3* #3192 set dir for recordings, localization cleanup and Swedish
		*2.5.1.2* #3135 variable initialization
		*2.5.1.1* #3087 add hook to module code
		*2.5.1* #2064 Migrate recordings to recording ids
		*2.5.0* #2845, added blf hints, added delete and add icons
		*2.4.0.2* #2604, #2843 fix mal-formed html tags, Russian Translation
		*2.4.0.1* added depends on 2.4.0
		*2.4.0* #2158 add recording option, add support for Extension and Destination Registries, it translations
		*1.2.2* don't ask for name confirmation when recording names on Asterisk 1.3 (new option I replaces i)
		*1.2.1.3* move Macro(user-callerid) to be called with each conf to accomodate future language settings
		*1.2.1.2* add call to Macro(user-callerid) to get proper CID in Meetme Conference
		*1.2.1.1* bump for rc1
		*1.2.1* changed syntax error in meetme_additional.conf form '|' to ',' separator
		*1.2* Fixed raising asterisk error on empty dialstatus #1708
		*1.1.2* Add he_IL translation
		*1.1.1* Updated for 2.2.0RC1
		*1.1* First release for FreePBX 2.2 - Fixed compatibility issue with new UI
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
		<module>recordings ge 3.3.8</module>
	</depends>
	<menuitems>
		<conferences>Conferences</conferences>
	</menuitems>
	<location>release/2.8/conferences-2.8.0.2.tgz</location>
	<md5sum>261cf9c7f621998ad99759af1b001722</md5sum>
</module>
