<module>
	<rawname>ringgroups</rawname>
	<name>Ring Groups</name>
	<version>2.8.0.3</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<description>
		Creates a group of extensions that all ring together. Extensions can be rung all at once, or in various 'hunt' configurations. Additionally, external numbers are supported, and there is a call confirmation option where the callee has to confirm if they actually want to take the call before the caller is transferred.
	</description>
	<changelog>
		*2.8.0.3* #4671
		*2.8.0.2* #4484
		*2.8.0.1* #4422
		*2.8.0.0* #4133
		*2.7.0.2* localizations
		*2.7.0.1* #4051 (requires MoH 2.7.0.0 or above)
		*2.7.0.0* #4050
		*2.6.0.1* #3610
		*2.6.0.0* #3697
		*2.5.1.9* #3664
		*2.5.1.8* #3580, localization updates
		*2.5.1.7* #3380, localization updates
		*2.5.1.6* localization fixes
		*2.5.1.5* #3222 sqlite3
		*2.5.1.4* #3200 and localization fixes
		*2.5.1.3* #3165 Sqlite3 fix
		*2.5.1.2* #3000 spelling
		*2.5.1.1* #2069 Minor bug in change for ids
		*2.5.1* #2069 Migrate recordings to recording ids
		*2.5.0.1* changed depends to 2.5
		*2.5.0* #1795, #2845, #2391, #2853, #2925 add tabindexing, Skip Busy Agent and Ignore Call Forward options
		*2.4.0.2* #2604, #2843 fix mal-formed html tags, Russian Translation, add oldstyle module hook
		*2.4.0.1* added depends on 2.4.0
		*2.4.0* Extension/dest registry, extension quickpick, added hunt strategy with confirmation, it trans, formatting changes
		*2.2.16.2* CHANGELOG TRUNCATED See SVN Repository
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
		<module>recordings ge 3.3.8</module>
	</depends>
	<menuitems>
		<ringgroups>Ring Groups</ringgroups>
	</menuitems>
	<location>release/2.8/ringgroups-2.8.0.2.tgz</location>
	<md5sum>283f79fa6c8810d38282dbb3477f6a86</md5sum>
</module>
