<module>
	<rawname>miscapps</rawname>
	<name>Misc Applications</name>
	<version>2.8.0.1</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>
		Adds the ability to create feature codes that can go to any FreePBX destination (such as an IVR or queue)
	</description>
	<menuitems>
		<miscapps>Misc Applications</miscapps>
	</menuitems>
	<changelog>
		*2.8.0.1* #4724
		*2.8.0.0* published 2.8 version
		*2.7.0.0* localizations
		*2.6.0.0* localizations, misc
		*2.5.0.3* localization enclosures, spelling
		*2.5.0.2* spelling, Swedish
		*2.5.0.1* #3138 Sqlite3 fixes
		*2.5.0* #2845 tabindex
		*2.4.0.2* #2843 Russian Translation
		*2.4.0.1* added depends on 2.4.0
		*2.4.0* Extension / dest registry, it translation
		*0.2.3.5* #2305 Feature Status broken
		*0.2.3.3* fixed some undefined variables, bump for rc1
		*0.2.3.2* #2177: removed apparently corrupted newline at end of file
		*0.2.3.1* added proper uninstall, removes any feature codes and then table
		*0.2.3* #1902 miscapp always sets/pulls default code now regardless of custom override in featurecodes
		*0.2.2* added SQLite3 support, fixes http://freepbx.org/trac/ticket/1775
		*0.2.1.1* changed freePBX to FreePBX
		*0.2.1* merge findmefollow/core extension destinations if any
		*0.2* Fix bug with adding new apps
		*0.1.1* Fixed publish location for trunk/2.3 repository
	</changelog>
	<depends>
		<version>2.4.0</version>
	</depends>
	<location>release/2.8/miscapps-2.8.0.0.tgz</location>
	<md5sum>840d998c92c429a57efd97533b32b97a</md5sum>
</module>
