<module>
	<rawname>iaxsettings</rawname>
	<name>Asterisk IAX Settings</name>
	<version>2.8.0.0</version>
	<publisher>Bandwidth.com</publisher>
	<license>AGPLv3</license>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<iaxsettings sort="-6">Asterisk IAX Settings</iaxsettings>
	</menuitems>
	<description>
		Use to configure Various Asterisk IAX Settings in the General section of iax.conf. The module assumes Asterisk version 1.4 or higher. Some settings may not exist in Asterisk 1.2 and will be ignored by Asterisk.
	</description>
	<changelog>
		*2.8.0.0* #4681
		*2.7.0.2* #4216
		*2.7.0.1* localizations
		*2.7.0.0* #3976 allows codec priorities
		*2.6.0.5* #3866
		*2.6.0.4* localizations, misc
		*2.6.0.3* #3832
		*2.6.0.2* #3811, #3813
		*2.6.0.1* corrected publisher/lic
		*2.6.0.0* install script 'if not exists' missing
		*2.6.0beta1.1* install script 'if not exists' missing
		*2.6.0beta1.0* lots of tweaks, fixed install.php error
	</changelog>
	<location>release/2.8/iaxsettings-2.7.0.3.tgz</location>
	<md5sum>5ec51d977e8e9fe78a2556f4a57cbd33</md5sum>
</module>
