<module>
	<rawname>infoservices</rawname>
	<name>Info Services</name>
	<version>2.8.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>Provides a number of applications accessible by feature codes: company directory, call trace (last call information), echo test, speaking clock, and speak current extension number.</description>
	<changelog>
		*2.8.0.0* #4396
		*2.7.0.0* spelling errors, localizations
		*2.6.0.1* localizations
		*2.6.0.0* localizations, misc
		*2.5.0.1* localization fixes
		*2.5.0* localization, Swedish
		*2.4.0.1* #2731 fix press 0 for operator in directory
		*2.4.0* bumped for 2.4
		*1.3.5.2* changed categories
		*1.3.5.1* bump for rc1
		*1.3.5* #2145 add waitexten while waiting for user input, and make uninstallable
		*1.3.4* changed ${CALLERID(number)} to ${AMPUSER} to accomodate CID number masquerading
		*1.3.3* Fixed SpeakExtension - replaced depricated ${CALLERID} variable
		*1.3.2* Fixed SpeakExtension - add macro-user-callerid
		*1.3.1* Improved accuracy of speaking clock
	</changelog>
	<location>release/2.7/infoservices-2.7.0.0.tgz</location>
	<md5sum>ba07f8ef2d9fc8c7575d3b912f18a30f</md5sum>
</module>
