<!DOCTYPE html>
<html>
  <head>
    <title><%= i18n('Title') %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--STYLES-->
    <link rel="stylesheet" href="/service/styles/animate.css">
    <link rel="stylesheet" href="/service/styles/bootstrap.css">
    <link rel="stylesheet" href="/service/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/service/styles/importer.css">
    <link rel="stylesheet" href="/service/styles/ladda-themeless.min.css">
    <link rel="stylesheet" href="/service/styles/summernote.min.css">
    <!--STYLES END-->
  </head>
  <body> 
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/service/templates/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/service/js/dependencies/underscore.js"></script>
    <script src="/service/js/dependencies/_.escape.js"></script>
    <script src="/service/js/dependencies/sprintf.js"></script>
    <script src="/service/js/dependencies/sails.io.js"></script>
    <script src="/service/js/dependencies/jquery.js"></script>
    <script src="/service/js/dependencies/moment.js"></script>
    <script src="/service/js/dependencies/moment-duration-format.js"></script>
    <script src="/service/js/dependencies/angular.js"></script>
    <script src="/service/js/dependencies/bootstrap.js"></script>
    <script src="/service/js/dependencies/spin.min.js"></script>
    <script src="/service/js/dependencies/ladda.min.js"></script>
    <script src="/service/js/dependencies/summernote.min.js"></script>
    <script src="/service/js/dependencies/summernote-ru-RU.js"></script>
    <script src="/service/js/angular/modules/ui-bootstrap-tpls.js"></script>
    <script src="/service/js/angular/modules/angular-animate.js"></script>
    <script src="/service/js/angular/modules/angular-ladda.js"></script>
    <script src="/service/js/angular/modules/angular-sanitize.js"></script>
    <script src="/service/js/angular/modules/angular-sprintf.js"></script>
    <script src="/service/js/angular/modules/angular-summernote.js"></script>
    <script src="/service/js/angular/modules/angular-ui-router.js"></script>
    <script src="/service/js/angular/modules/angular-utf8-base64.js"></script>
    <script src="/service/js/angular/app.js"></script>
    <script src="/service/js/angular/providers/route.js"></script>
    <script src="/service/js/angular/constants/const.js"></script>
    <script src="/service/js/angular/constants/regexp.js"></script>
    <script src="/service/js/angular/constants/urls.js"></script>
    <script src="/service/js/angular/constants/value.js"></script>
    <script src="/service/js/angular/configs/general.js"></script>
    <script src="/service/js/angular/services/event.js"></script>
    <script src="/service/js/angular/services/init.js"></script>
    <script src="/service/js/angular/services/log.js"></script>
    <script src="/service/js/angular/services/payload.js"></script>
    <script src="/service/js/angular/services/utils.js"></script>
    <script src="/service/js/angular/factories/auth.js"></script>
    <script src="/service/js/angular/factories/dictionary.js"></script>
    <script src="/service/js/angular/factories/mailings.js"></script>
    <script src="/service/js/angular/directives/after-load.js"></script>
    <script src="/service/js/angular/directives/back.js"></script>
    <script src="/service/js/angular/directives/check-field.js"></script>
    <script src="/service/js/angular/directives/file-change.js"></script>
    <script src="/service/js/angular/directives/navbar.js"></script>
    <script src="/service/js/angular/controllers/auth.js"></script>
    <script src="/service/js/angular/controllers/boot.js"></script>
    <script src="/service/js/angular/controllers/footer.js"></script>
    <script src="/service/js/angular/controllers/header.js"></script>
    <script src="/service/js/angular/controllers/home.js"></script>
    <script src="/service/js/angular/controllers/mailings-new.js"></script>
    <script src="/service/js/angular/controllers/mailings.js"></script>
    <script src="/service/js/angular/controllers/test.js"></script>
    <script src="/service/js/angular/ready.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
