<div data-ng-controller="test">
  
  <div class="container">
    
    <div class="row">
      
      <div class="center-block mailings">
       
        <div class="row-fluid list-header">
          <div class="col-xs-12 col-sm-6">
            <h2>All mailings</h2>
          </div> 
          <div class="col-xs-12 col-sm-6 text-right">  
            <form class="pull-right">
              <input type="text" class="form-control" placeholder="Search string">
              <!--<button type="button" class="btn btn-default">
                New&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </button>-->
            </form>
          </div>
        </div>
        
         <div class="row-fluid">
          <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
          <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        </div>
    </div>
      
     
      
  </div>  
</div>