<div class="pad">
  <ul>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Перевод денег между брокерскими счетами</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Вывод ДС</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Заказ внепланового отчета</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Назначение уполномоченных лиц</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Открытие дополнительного счета</a></li>
  </ul>  
</div>
