<div class="pad">
  <ul>
    <li>Брокерская деятельность
      <p>
        <ul>
          <li><a th:href="${path.getRelativePath('/form')}">Перевод денег между брокерскими счетами</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Вывод ДС</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Заказ внепланового отчета</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Назначение уполномоченных лиц</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Открытие дополнительного счета</a></li>
        </ul>
      </p>
    </li>
    <li>Депозитарная деятельность
      <p>
        <ul>
          <li><a th:href="${path.getRelativePath('/form')}">Зачисление и списание ЦБ</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Открытие дополнительного счета</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Перевод ЦБ на другой счет</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Перемещение ЦБ в другой депозитарий</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Получение депозитарной выписки</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Заказ внепланового отчета</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Назначение уполномоченных лиц</a></li>
        </ul>
      </p>
    </li>
    <li>Операции с фондами
      <p>
        <ul>
          <li><a th:href="${path.getRelativePath('/form')}">Купить паи фондов</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Продать паи фондов</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">РЕПО паев фондов</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Заказ внепланового отчета</a></li>
          <li><a th:href="${path.getRelativePath('/form')}">Вывод доходности пая</a></li>
        </ul>
      </p>
    </li>
  </ul>  
</div>
