<div class="pad">
  <ul>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Зачисление и списание ЦБ</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Открытие дополнительного счета</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Перевод ЦБ на другой счет</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Перемещение ЦБ в другой депозитарий</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Получение депозитарной выписки</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Заказ внепланового отчета</a></li>
	  <li><a th:href="${path.getRootPath('/client/orders/form')}">Назначение уполномоченных лиц</a></li>
  </ul>  
</div>
