<div class="panel bgcolor1 half shadow" style="margin: 1em auto 0;">
  <div th:if="${utils.isNotNull(confirmId)}" class="panel bgcolor5 norightmargin" style="margin: 1em auto 0;">
    <div class="caption" th:if="${form.Name!=''}" th:utext="${form.Name}"/>
    <div class="content acenter">Временный пароль успешно установлен.<br/>Вы можете <a th:href="${path.getRootPath('/change-password')}" th:utext="'поменять его'"/>, предварительно пройдя <a th:href="${path.getRootPath('/auth')}" th:utext="'авторизацию'"/></div>
  </div>
  <div th:if="${utils.isNull(confirmId)}">
    <div th:replace="FormBlock(form=${form})"/>
  </div>  
</div>    