<module>
	<rawname>voicemail</rawname>
	<name>Voicemail</name>
	<version>2.8.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
		*2.8.0.0* #4310
		*2.7.0.1* #4210
		*2.7.0.0* localizations
		*2.6.0.2* #3867
		*2.6.0.1* #3780
		*2.6.0.0* #1957, localizations, misc
		*2.5.1.7* #3698
		*2.5.1.6* localization updates
		*2.5.1.5* #3399 and language updates
		*2.5.1.4* localization string enclosures
		*2.5.1.3* localization fixes
		*2.5.1.2* #3191 unitialized var, localization
		*2.5.1.1* #3152 uninitialized variable bug
		*2.5.1* #3099 allows a return to IVR from voicemail option
		*2.5.0.2* #3013, #2530 spelling, typo _GLOBALS should be GLOBALS and cleanup display when users/extension conflicts occur
		*2.5.0.1* #2973 enable javascript to enable/disable voicemail and vmx fields when creating extension
		*2.5.0* #2754, #2903, #2785, #2647, #2593 Added VmX config, added O extension config, better javascript interactions
		*2.4.0.1* added depends on 2.4.0
		*2.4.0* #2457 vm dial code to vmexten in sip_general_additional.conf, make hooks abort if extension confilct, misc fixes
		*2.0.3.4* Fix some labeling and make localization friendly
		*2.0.3.3* #2232 call to VoiceMailMain() need ${AMPUSER} was fixed wrong
		*2.0.3.2* CHANGELOG TRUNCATED See SVN Repository
	</changelog>
	<description>This module allows you to configure Voicemail for a user or extension</description>
	<type>setup</type>
	<category>Basic</category>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<location>release/2.8/voicemail-2.7.0.1.tgz</location>
	<md5sum>548e3ac98bc66302d1b1a935c4ddc271</md5sum>
</module>
