<module>
	<rawname>blacklist</rawname>
	<name>Blacklist</name>
	<version>2.7.0.2</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<menuitems>
		<blacklist needsenginedb="yes">Blacklist</blacklist>
	</menuitems>
	<changelog>
		*2.7.0.2* #4726
		*2.7.0.1* #4266, #4186
		*2.7.0.0* localizations
		*2.6.0.2* #3430
		*2.6.0.1* Added publisher/lic
		*2.6.0.0* Added support for Unknown/Blocked CID
		*2.5.0.5* #3557 and localization updates
		*2.5.0.4* localization updates
		*2.5.0.3* #3345, translations
		*2.5.0.2* Swedish Translations
		*2.5.0.1* #3100, #3101 changes to work with new inbound route changes and fixes previous bug
		*2.5.0* #2956 no need to try and splice from-zaptel macros anymore
		*2.4.0.1* #2843 Russian Translation
		*2.4.0* minor fixes, it translations, bumped for 2.4
		*1.1.4* #2416 Enable Asterisk 1.6+ support
		*1.1.3.6* #2455 allow + and other valid dial digits
		*1.1.3.5* changed categories
		*1.1.3.4* bump for rc1
		*1.1.3.3* added xml attribute needsenginedb
		*1.1.3.2* #2070 syntax fix from below
		*1.1.3.1* #2070 fix proper use of script tags
		*1.1.3* #2061 fixed to work with Asterisk 1.4 (wait for confirmation of 1)
		*1.1.2* #1638 remove duplicate of zapateller instruction
		*1.1.1* Add he_IL translation
		*1.1* First 2.2 release. Fix minor warnings.
	</changelog>
	<depends>
		<module>core ge 2.5.1.2</module>
	</depends>
	<location>release/2.7/blacklist-2.7.0.2.tgz</location>
	<md5sum>e1612c979ddf37cca977136b06cf57de</md5sum>
</module>
